@font-face {
    font-family: 'fontello';
    src: url('./assets/fonts/fontello/fontello.eot?11179278');
    src: url('./assets/fonts/fontello/fontello.eot?11179278#iefix') format('embedded-opentype'),
         url('./assets/fonts/fontello/fontello.woff?11179278') format('woff'),
         url('./assets/fonts/fontello/fontello.ttf?11179278') format('truetype'),
         url('./assets/fonts/fontello/fontello.svg?11179278#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
  }

/* latin-ext */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: local('Titillium Web Regular'), local('TitilliumWeb-Regular'), url(./assets/fonts/titillium/NaPecZTIAOhVxoMyOr9n_E7fdM3mDbRS.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: local('Titillium Web Regular'), local('TitilliumWeb-Regular'), url(./assets/fonts/titillium/NaPecZTIAOhVxoMyOr9n_E7fdMPmDQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  src: local('Titillium Web Bold'), local('TitilliumWeb-Bold'), url(./assets/fonts/titillium/NaPDcZTIAOhVxoMyOr9n_E7ffHjDGIVzY4SY.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  src: local('Titillium Web Bold'), local('TitilliumWeb-Bold'), url(./assets/fonts/titillium/NaPDcZTIAOhVxoMyOr9n_E7ffHjDGItzYw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'MalagaOT-RegItalic';
  src: url('./assets/fonts/malaga/MalagaOT-RegItalic.eot');
  src: url('./assets/fonts/malaga/MalagaOT-RegItalic.eot?#iefix') format('embedded-opentype'),
       url('./assets/fonts/malaga/MalagaOT-RegItalic.svg#MalagaOT-RegItalic') format('svg'),
       url('./assets/fonts/malaga/MalagaOT-RegItalic.ttf') format('truetype'),
       url('./assets/fonts/malaga/MalagaOT-RegItalic.woff') format('woff'),
       url('./assets/fonts/malaga/MalagaOT-RegItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}